################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/OfflineAI/.vs/OfflineAI/FileContentIndex/61a847a7-7850-412c-bb1d-9f9dfb3ebfcd.vsidx
/OfflineAI/.vs/OfflineAI/FileContentIndex/bd7f73a6-d22f-41dc-94c9-dd3f5a200582.vsidx
/OfflineAI/.vs/OfflineAI/FileContentIndex/cc3d1747-6410-4115-a051-5645c141f023.vsidx
/OfflineAI/.vs/OfflineAI/FileContentIndex
